*{
    font-family: "poppins";  
    font-size: 1.2rem; 

}
body{
    padding: 60px;
}

input{
    font-size: 1.2rem;
    color: grey;
    width: 100%;
    border: 0.5px solid lightblue;
}

.Card{

    align-content: center;
    border-radius: 15px;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    max-width: 200px;
    
}

.Card img{

    max-height: 200px;
    height: 60%;
    width: 100%;
}
.Card p{
    padding: 5px;
    text-align: center;
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}